* { 
	box-sizing: border-box;
}

body {
	/* width: 960px; */
	background: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	color: #777777;
	background-image: url("old_moon.png");
}


nav ul {
	margin:0px;
	list-style-type: none;
	padding:5px 0px 5px 0px;
	float: right;

}

nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}

header {
	padding: 25px;
	margin-bottom: 10px;
	background: #ffffff;
	width: 960px;
	height: 50px;
	

}

h1 {
	/*font-size: 300%;*/
}

#name {
	float: left;
	background: #4aaaa5;
	color: white;
	height: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}


#main {
	float: left;
	width: 860px;
	background: #ffffff;
	margin-right: 20px;

}

#aside {
	float: right;
	width: 270px;
	height: 200px;
	background: #ffffff;
	margin-left: 20px;
}

#about img {
	float: left;
	display: inline-block;
	margin-right: 10px;	
}

#about {
	width: 380px;
	float: left;
}

footer{
	clear:both;
	overflow: auto;
	background: #666666;
	text-align: center;
	height:75px;
	color: white;
	font-size: 12px;
	padding: 20px;

}
